body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Xanh Mono', monospace;
    color: rgb(0, 0, 255);
    text-shadow: ;
    background-color:crimson
}

Span {
    font-size: 35px;
}


